<html>
<head>
	<title>Peliculas en existencia</title>
</head>
<body>
	<div>
		<h1>Lista de Peliculas Disponibles</h1>
		<form action="{% url "renta_nueva" %}" method="POST">
		{% csrf_token %}
			{% for pelicula in peliculas %}
				<h3>{{pelicula.titulo}}</h3>
				<ul>
					<li>Duracion: {{pelicula.duracion}}</li>
					<li>sinopsis: {{pelicula.sinopsis}}</li>
					<li>genero: {{pelicula.genero}}</li>
					<li>clasificacion: {{pelicula.clasificacion}}</li>
					<input type="checkbox" name="pelicula" value="{{pelicula.id}}"/>Rentar
				</ul>
				<hr>
				<br>
			{% endfor %}
		<input type="submit" value="Rentar Peliculas">
		</form>
	</div>
</body>
</html>